.containerWrapper {
    flex-direction: column;
    gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 20px;
}

.formDiv {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formDiv > button[type="button"] {
    border: 1px solid var(--btnColor);
    background: transparent;
    color: var(--btnColor);
}

.formDiv label span { font-size: .6rem; font-weight: 300; letter-spacing: 1px; }